.section-title{
  font-size: 2.55rem;
  font-weight: 300;

  @mixin atSmall{
    font-size: 3.75rem;
  }
  strong{
    font-weight: 500;
  }

  &__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.8rem;
  }

  @mixin atSmall{
    &__icon{
      display: inline-block;
      padding-bottom: 0;
    }
  }

  &--blue{
    color: $mainBlue;
  }

  &__icon--message{
    position: relative;
    top: 9px;
  }
}
